.product-buy {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button.gray {
        .icon {
            margin-right: 15px;
        }
    }

    .buy-info {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(236, 236, 236);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin-right: 15%;
    }

    .buy-info {
        width: 70%;
        margin-bottom: 0;

        .icon {
            margin-right: 10px;
        }

        .text {
            text-align: right;
        }

        .buy-info-what {
            display: flex;
            align-items: center;
            width: 95%;
            font-weight: 400;

            .text {

                text-align: left;
            }
        }
    }

    .delivery {
        background-color: rgb(236, 236, 236);
        margin-bottom: 10px;
        width: 70%;
        margin-right: 15%;

        .buy-info {
            width: 100%;
            margin-bottom: 0;

            .icon {
                margin-right: 10px;
            }

            .text {
                text-align: right;
            }

            .buy-info-what {
                display: flex;
                align-items: center;
                width: 95%;
                font-weight: 400;

                .text {

                    text-align: left;
                }
            }
        }

        .delivery-to {

            display: flex;
            font-weight: 400;
            font-size: 25px;
            border-bottom: 2px solid #b8b8b8;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;

            .subtitle {
                margin-right: 5px;
            }

            .blue-subtitle {
                color: rgb(18, 47, 212);
            }
        }
    }

    .buy {

        margin-bottom: 15px;
        width: 70%;
        margin-right: 15%;

        .available {

            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 20px;

            .icon {

                margin-right: 7px;
            }
        }

        .cost {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;

            .good-cost {

                font-weight: 500;
                font-size: 35px;
            }

            .good-buy {
                display: flex;
                align-items: center;
                justify-content: center;

                .button.gray {

                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 15px;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    border-radius: 10px;
                }

                #like-heart:hover {
                    fill: rgb(250, 235, 20);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {

    .product-buy {

        .buy {
            margin-right: 0;
            width: 95%;
        }

        .delivery {
            margin-right: 0;
            width: 95%;
        }

        .buy-info {
            margin-right: 0;
            width: 95%;
        }
    }

}

@media screen and (max-width: 1024px) {

    .product-buy .text {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {

    .product-buy {
        width: 100%;

        .buy {
            width: 95%;
        }

        .delivery {
            width: 95%;
        }

        .buy-info {
            width: 95%;
        }
    }
}