.banners-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.section.banners-section {
    padding-top: 15px;
}

.banners-section .title {
    margin-bottom: 15px;
}
