@media screen and (max-width: 1600px){
    .banners-section  .nav {
        width: 65%;
    }
}

@media screen and (max-width: 1366px) {
    .banners-section .nav {
        width: 75%;
    }
}

@media screen and (max-width: 1024px) {
    .banners-section .nav {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .banners-section .nav {
        width: 100%;
    }
}