<li class="good-card" (click)="redirectToProduct(product.id)">
    <div class="up">
        <img class="good-img" src="https://localhost:5000/img/goods/{{ product.images[0].fileName}}">
        <img class="good-img2" src="https://localhost:5000/img/goods/{{ product.images[1].fileName}}">
        <div class="top">
            <p class="good-name">{{product.name}}</p>
        </div>
        <div class="bottom">
            <p class="good-category">Монітори</p>
            <p class="good-cost">{{product.price}}</p>
        </div>
    </div>
    <div class="down">
        <p class="property">{{product.description}}</p>
    </div>
</li>