@import "components/main.scss";

.product-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

    width: 90%;

    .app-buy-info {
        width: 50%;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .info {
            margin-top: 50px;
            width: 55%;
        }

        .pictures {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            .slider-nav {
                margin-right: 20px;
                display: flex;
                align-items: center;

                .thumbnails {
                    display: flex;
                    flex-direction: column;
                }
            }

            .app-slider {
                width: 550px;

                .product-img-wrap {
                    display: flex;
                    width: 550px;
                    justify-content: center;

                    .product-img {
                        max-height: 350px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .product-info {
        width: 95%;

        .description {
            .info {
                margin-top: 50px;
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .product-info {
        width: 95%;

        .description {
            .info {
                margin-top: 50px;
                width: 80%;
            }

            .pictures {
                flex-direction: column;

                .app-slider {
                    width: 400px;
                }

                .slider-nav {
                    order: 1;

                    .thumbnails {
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                        margin-right: 0;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .product-info {
        .description .info .property {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 850px) {
    .product-info {
        .description {
            .pictures {
                .app-slider {
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .product-info {
        flex-direction: column;
        align-items: center;

        .description {
            width: 100%;
            margin-bottom: 50px;

            .info {
                margin-top: 50px;
                width: 95%;
            }

            .pictures {
                justify-content: center;
                align-items: center;

                .app-slider {
                    width: 95%;
                }
            }
        }

        .app-buy-info {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}