<section class="section product-section">

    <div class="product-info">
        <div class="description">
            <div class="pictures">
                <div class="slider-nav">
                    <div class="thumbnails">
                        <img class="thumb" src="{{picUrl}}img/goods/{{item.fileName}}"
                            *ngFor="let item of product.images">
                    </div>
                </div>
                <app-slider class="app-slider">
                    <div class="product-img-wrap" *ngFor="let item of product.images">
                        <img class="product-img" src="{{picUrl}}img/goods/{{item.fileName}}">
                    </div>
                </app-slider>
            </div>
            <div class="info">
                <p class="property">{{product.description}}</p>
            </div>
        </div>
        <app-buyinfo [product]="product" class="app-buy-info">

        </app-buyinfo>
    </div>
</section>