<footer>
    <nav class="nav">
        <ul class="list">
            <li class="item">
                Соціальні мережі
            </li>
            <li class="item">
                <ul class="social-list">
                    <li class="item">
                        <img class="social-list-img" src="https://localhost:5000/img/png/facebook.png">
                    </li>
                    <li class="item">
                        <img class="social-list-img" src="https://localhost:5000/img/png/linkedin.png">
                    </li>
                    <li class="item">
                        <img class="social-list-img" src="https://localhost:5000/img/png/telegram.png">
                    </li>
                    <li class="item">
                        <img class="social-list-img" src="https://localhost:5000/img/png/tiktok.png">
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="list">
            <li class="item">
                Клієнтам
            </li>
            <li class="item">
                <ul class="list">
                    <li class="item">
                        Доставка
                    </li>
                    <li class="item">
                        Гарантії
                    </li>
                    <li class="item">
                        Акції
                    </li>
                    <li class="item">
                        Оплата
                    </li>
                    <li class="item">
                        Інформація
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="list">
            <li class="item">
                Відділ продажу
            </li>
            <li class="item">
                <ul class="list">
                    <li class="item">
                        <img src="https://localhost:5000/img/svg/phone.svg" class="icon">
                        <p>064-674-12-45</p>
                    </li>
                    <li class="item">
                        <img src="https://localhost:5000/img/svg/phone.svg" class="icon">
                        <p>064-674-12-45</p>
                    </li>
                    <li class="item">
                        <img src="https://localhost:5000/img/svg/mail.svg" class="icon">
                        <p>Psshop@gmail.com</p>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</footer>