footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #000;
    margin-top: auto;
}

footer .nav{
    display: flex;
    align-items: flex-start;
}

footer .nav .list{
    display: flex;
    flex-direction: column;
}

footer .nav .list .item{
    color: #fff;
    width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

footer .nav .list .item .list .item{
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .nav .list .item .list .item .icon{
    margin-right: 10px;
}

footer .nav .list .item .list .item:hover{
    font-weight: 400;
}

@media screen and (max-width: 768px){
    footer .nav {
        flex-direction: column;
        align-items: center;
    }
    footer .nav .list{
        margin-bottom: 20px;
    }
}

