<header>
    <div class="overlay" id="overlay"></div>
    <div class="up">
        <nav class="nav">
            <ul class="menu">
                <img class="icon" src="https://localhost:5000/img/svg/burgerbtn.svg" onclick="toggleSideBar()">
            </ul>
            <ul class="wrap-logo" (click)="redirectToHome()">
                <img class="logo" src="https://localhost:5000/img/png/logo.png" >
            </ul>
            <ul class="wrap-search">
                <img class="input-img" src="https://localhost:5000/img/svg/search.svg">
                <input class="input search" placeholder="Знайти щось">
                <button class="button gray">Знайти</button>
            </ul>
            <ul class="language">
                <li class="item">EN</li>
                <li class="item">|</li>
                <li class="item">UA</li>
            </ul>
            <ul class="personal-icons">
                <li class="item">
                    <img class="icon" id="openModalBtn" src="https://localhost:5000/img/svg/personal.svg">
                </li>
                <li class="item">
                    <img class="icon" src="https://localhost:5000/img/svg/basket.svg">
                </li>
            </ul>
        </nav>
    </div>
    <div class="down">
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <span class="button gray">Каталог</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <span class="button white">Акції</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <span class="button white">Оплата</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <span class="button white">Гарантії</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <span class="button white">Контакти</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <span class="button white">Доставка</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <span class="button white">Інформація</span>
                    <ul class="drop-list">
                        <li class="drop-item">
                            1
                        </li>
                        <li class="drop-item">
                            2
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>