input{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-img{
    position: absolute;
    margin-left: 10px;
    height: 15px;
}