.personal-icons .item:not(:last-child) {
    margin-right: 10px;
}

.personal-icons {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

.icon {
    min-width: 25px;
    min-height: 25px;
}

.personal-icons .item:nth-child(2) {
    min-width: 30px;
    min-height: 30px;
}

.personal-icons .item {
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-icons .item:hover {
    transform: scale(1.1);
}

.personal-icons #settings:hover {
    transform: scale(1.1) rotate(-90deg);
}

@media screen and (max-width: 1024px) {
    .personal-icons {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    .personal-icons .item:nth-child(1),
    .personal-icons .item:nth-child(3),
    .personal-icons .item:nth-child(4) {
        display: none;
    }

    .personal-icons {
        width: 25px;
        margin-left: 10px;
    }
}