.good-card {
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 285px;
    margin-bottom: 20px;

    .up {
        .wrap-img {
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;

            .good-img,
            .good-img2 {
                max-width: 250px;
                max-height: 200px;
            }

            .good-img2 {
                display: none;
            }
        }

        .top {
            margin-bottom: 15px;

            .good-name {
                margin-right: 20%;
                font-weight: 400;
                height: 50px;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 2;

            .good-category {
                font-weight: 100;
            }

            .good-cost {
                font-weight: 500;
                color: rgb(192, 25, 25);
            }
        }
    }

    .down {
        visibility: hidden;
        transform: translateY(-50%);
        transition: transform 0.3s, visibility 0.13s, background-color 0.3s;
        z-index: 1;

        position: absolute;
        box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        padding: 15px;
        width: 285px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 10px;
        margin-left: -15px;

        .property {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }
    }

    &:hover {
        background-color: rgb(211, 211, 211);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .up {
            .wrap-img {
                .good-img {
                    display: none;
                }

                .good-img2 {
                    display: flex;
                }
            }
        }

        .down {
            visibility: visible;
            transform: translateY(0);
            background-color: rgb(211, 211, 211);
        }
    }

}

@media screen and (max-width: 640px) {
    .good-card {
        width: 170px;
        padding: 8px;
    }

    .good-card .up .good-name {
        font-size: 16px;
        margin-right: 0;
    }

    .good-card .up .good-category {
        font-size: 14px;
    }

    .good-card .wrap-img {
        height: 150px;
    }

    .good-card .up .good-img,
    .good-card .up .good-img2 {
        max-width: 155px;
        max-height: 130px;
    }

    .good-card .up .good-cost {
        font-size: 16px;
    }

    .good-card .down {
        width: 170px;
        padding: 8px;
        margin-left: -8px;
        margin-top: 2px;
    }

    .good-card .down .property {
        font-size: 12px;
    }
}