<div class="addproduct-section section">
    <div class="form-wrapper">
        <form class="form">
            <div class="properties">
                <div class="input-property">
                    <label for="Name">Назва</label>
                    <input type="text" [(ngModel)]="productData.name" name="Name">
                </div>
                <div class="input-property">
                    <label for="Description">Опис</label>
                    <input type="text" [(ngModel)]="productData.description" name="Description">
                </div>
                <div class="input-property">
                    <label for="Price">Ціна</label>
                    <input type="text" [(ngModel)]="productData.price" name="Price">
                </div>
                <div class="input-property">
                    <label for="Amount">Кількість</label>
                    <input type="text" [(ngModel)]="productData.amount" name="Amount">
                </div>
            </div>
            <div class="ngx-file-drop-wrap">
                <ngx-file-drop dropZoneClassName="ngx-file-drop" (onFileOver)="fileOver($event)"
                    (onFileLeave)="fileLeave($event)" (onFileDrop)="fileDrop($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" > 
                        <div class="file-info">
                            <div class="file-drop">
                                <p class="file-drop-message">Завантажте або перетягніть сюди 2 або більше файлів (.jpg)
                                </p>
                                <button type="button" class="button white" (click)="openFileSelector()">Завантажити
                                    файли</button>
                            </div>
                            <div class="files" *ngIf="files != null && files.length > 0">
                                <ul>
                                    <li *ngFor="let file of files">{{ file.relativePath }}</li>
                                </ul>
                            </div>
                        </div>
                    </ng-template>
                </ngx-file-drop>
            </div>
            <div class="properties">
                <div class="input-property">
                    <label for="categoryId">Категорія</label>
                    <select [ngModel]="productData.categoryId" (ngModelChange)="productData.categoryId = $event"
                        name="categoryId">
                        <option *ngFor="let item of categories" [ngValue]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div [ngSwitch]="productData.categoryId">
                <div *ngSwitchCase="'d478b22d-e5ac-4ffc-b7ef-26e586aac448'" class="form">
                    <div class="properties">
                        <div class="input-property">
                            <label for="diagonal">Діагональ</label>
                            <input type="text" [(ngModel)]="productData.monitor.diagonal" name="diagonal">
                        </div>
                        <div class="input-property">
                            <label for="brightness">Яскравість</label>
                            <input type="text" [(ngModel)]="productData.monitor.brightness" name="brightness">
                        </div>
                        <div class="input-property">
                            <label for="maxtrixType">Тип матриці</label>
                            <input type="text" [(ngModel)]="productData.monitor.matrixType" name="maxtrixType">
                        </div>
                        <div class="input-property">
                            <label for="ratio">Співвідношення сторін</label>
                            <input type="text" [(ngModel)]="productData.monitor.ratio" name="ratio">
                        </div>
                        <div class="input-property">
                            <label for="reaction">Час реакції</label>
                            <input type="text" [(ngModel)]="productData.monitor.reaction" name="reaction">
                        </div>
                        <div class="input-property">
                            <label for="frequency">Частота матриці</label>
                            <input type="text" [(ngModel)]="productData.monitor.frequency" name="frequency">
                        </div>
                        <div class="input-property">
                            <label for="interfaces">Інтерфейси</label>
                            <input type="text" [(ngModel)]="productData.monitor.interfaces" name="interfaces">
                        </div>
                        <div class="input-property">
                            <label for="contrast">Контраст</label>
                            <input type="text" [(ngModel)]="productData.monitor.contrast" name="contrast">
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'e1c0e946-ac0e-4834-a04b-e12ee36a64dc'">

                </div>
                <div *ngSwitchDefault>
                    <h2 class="title">Оберіть категорію</h2>
                </div>
            </div>
            <button class="button gray" (click)="addProduct(productData)">Створити продукт</button>
        </form>
    </div>
</div>