<app-banners>

</app-banners>

<app-modal-login *ngIf="modalService.isVisible$ | async">
    <h2>Modal Title</h2>
    <p>This is the content of the modal.</p>
</app-modal-login>

<section class="section goods-section">
    <h2 class="title">Новинки</h2>
    <nav class="nav">
        <ul class="goods">
            <app-products *ngFor="let product of products; let i = index" [product]="product">

            </app-products>
        </ul>
    </nav>
</section>

<section class="section goods-section">
    <h2 class="title">Популярні товари</h2>
    <nav class="nav">
        <ul class="goods">
            <app-products *ngFor="let product of products; let i = index" [product]="product">

            </app-products>
        </ul>
    </nav>
</section>

<app-blog>

</app-blog>