<app-banners>

</app-banners>

<section class="section goods-section">
    <h2 class="title">Новинки</h2>
    <app-loading class="loading" *ngIf="loading">

    </app-loading>
    <nav class="nav" *ngIf="!loading">
        <ul class="goods">
            <app-products *ngFor="let product of novelties; let i = index" [product]="product">

            </app-products>
        </ul>
    </nav>
</section>

<section class="section goods-section">
    <h2 class="title">Популярні товари</h2>
    <app-loading class="loading" *ngIf="loading">

    </app-loading>
    <nav class="nav" *ngIf="!loading">
        <ul class="goods">
            <app-products *ngFor="let product of popular; let i = index" [product]="product">

            </app-products>
        </ul>
    </nav>
</section>

<app-blog>

</app-blog>