<section class="section banners-section">
    <h2 class="title">Акції</h2>
    
    <app-loading class="loading" *ngIf="loading">

    </app-loading>
    <nav class="nav" *ngIf="!loading">
        <app-slider class="app-slider">
            <div class="product-img-wrap">
                <img class="banner-img" src="{{picUrl}}img/jpg/ban1.jpg">
            </div>
            <div class="product-img-wrap">
                <img class="banner-img" src="{{picUrl}}img/jpg/ban2.jpg">
            </div>
            <div class="product-img-wrap">
                <img class="banner-img" src="{{picUrl}}img/jpg/ban3.jpg">
            </div>
            <div class="product-img-wrap">
                <img class="banner-img" src="{{picUrl}}img/jpg/ban4.jpg">
            </div>
        </app-slider>
        <ul class="dots">
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
        </ul>
    </nav>
</section>