<section class="section banners-section">
    <h2 class="title">Акції</h2>
    <nav class="nav">
        <ul class="slider-container">
            <li class="prev-btn" (click)="prevSlide()">&#10094;</li>
            <li class="slides">
                <img class="banner-img" src="https://localhost:5000/img/jpg/ban1.jpg">
                <img class="banner-img" src="https://localhost:5000/img/jpg/ban2.jpg">
                <img class="banner-img" src="https://localhost:5000/img/jpg/ban3.jpg">
                <img class="banner-img" src="https://localhost:5000/img/jpg/ban4.jpg">
            </li>
            <li class="next-btn" (click)="nextSlide()">&#10095;</li>
        </ul>
        <ul class="dots">
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
        </ul>
    </nav>
</section>