<section class="section banners-section">
    <h2 class="title">Акції</h2>
    <nav class="nav">
        <app-slider>
            <img class="banner-img" src="{{picUrl}}img/jpg/ban1.jpg">
            <img class="banner-img" src="{{picUrl}}img/jpg/ban2.jpg">
            <img class="banner-img" src="{{picUrl}}img/jpg/ban3.jpg">
            <img class="banner-img" src="{{picUrl}}img/jpg/ban4.jpg">
        </app-slider>
        <ul class="dots">
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
        </ul>
    </nav>
</section>