<div class="sidebar notactive" id="sidebar">
    <nav class="nav">
        <ul class="list">
            <li class="wrap-logo">
                <img class="logo" src="{{picUrl}}img/png/logo.png" onclick="window.location.href='/Home/';">
                <img class="icon" src="{{picUrl}}img/svg/exit.svg" *ngIf="authService.isAuthenticated$ | async" (click)="authService.logout().subscribe();">
            </li>
        </ul>
        <ul class="list">
            <li class="personal">
                <img class="logo" src="{{picUrl}}img/svg/personal.svg">
                <p class="name" *ngIf="authService.isAuthenticated$ | async">{{user.firstName}} {{user.lastName}}</p>
                <p class="name" *ngIf="!(authService.isAuthenticated$ | async)">Name Surname</p>
            </li>
        </ul>
        <ul class="list">
            <li class="item">Каталог</li>
            <li class="item">Акції</li>
            <li class="item">Оплата</li>
            <li class="item">Гарантії</li>
            <li class="item">Контакти</li>
            <li class="item">Доставка</li>
            <li class="item">Інформація</li>
        </ul>
    </nav>
</div>