<section class="section blog-section">
    <h2 class="title">Блог</h2>
    <nav class="nav">
        <ul class="blog">
            <li class="blog-card">
                <img class="blog-img" src="{{picUrl}}img/png/Rectangle 59.png">
                <h3 class="title">INTEL or AMD?</h3>
                <p class="text">Ринок процесорів уже давно поділений двома компаніями-гігантами зі своїм баченням ідеального процесора - AMD намагається створити нішевий продукт із низькою ціною, Intel орієнтується на топові, продуктивні процесори. Який процесор кращий, Intel або AMD?</p>
                <p class="link">Читати статтю</p>
            </li>
            <li class="blog-card">
                <img class="blog-img" src="{{picUrl}}img/png/Rectangle 57.png">
                <h3 class="title">DDR4 vs DDR5</h3>
                <p class="text">Чи дасть надбавку продуктивності перехід з комплекту DDR4 з частотою 3200 МГц на DDR5 з базовими 4800 МГц? А якщо додати до порівняння прокачаний до 4000 МГц комплект DDR4 і просунуту DDR5 із частотою 5600 МГц?  Чи DDR4 рано списувати з рахунків, а новинці варто ще обрости м'язами?</p>
                <p class="link">Читати статтю</p>
            </li>
            <li class="blog-card">
                <img class="blog-img" src="{{picUrl}}img/png/Rectangle 58.png">
                <h3 class="title">Вибір корпуса для ПК</h3>
                <p class="text">Коли ви приблизно визначилися з основними комплектуючими для майбутнього комп'ютера, саме час розпочати вибір кейсу, в якому вся система буде розміщена.  Підібраний корпус для ПК здатний забезпечити простий доступ для чищення або заміни комплектуючих за потреби. </p>
                <p class="link">Читати статтю</p>
            </li>
        </ul>
    </nav>
</section>